<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>
  <arg name="model_weights" default=""/>
  <arg name="bag_file" default=""/>
  <arg name="topic_name" default=""/>
  <arg name="cascade_file" default=""/>

  <node name="emotion_recognition" pkg="emotion_recognition" type="emotion_recognition.py" respawn="false" output="screen" required="true">
    <param name="model_weights" type="string" value="$(arg model_weights)"/>
    <param name="pre_processing_bag_file" type="string" value="$(arg bag_file)"/>
    <param name="topic" type="string" value="$(arg topic_name)"/>
    <param name="cascade" type="string" value="$(arg cascade_file)"/>
  </node>

</launch>
