<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>
  <arg name="model_weights" default=""/>
  <arg name="pre_processing_bag_file" default=""/>
  <arg name="topic_name" default=""/>
  <node name="emotion_recognition" pkg="emotion_recognition" type="emotion_recognition.py" respawn="false" required="true" output="screen">
    <param name="model_weights" type="string" value="$(arg model_weights)"/>
    <param name="pre_processing_bag_file" type="string" value="$(arg pre_processing_bag_file)"/>
    <param name="topic_name" type="string" value="$(arg topic_name)"/>
  </node>
</launch>
