<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>

  <arg name="bag_file"              />
  <arg name="meta_file"             />
  <arg name="out_dir"               />
  <arg name="mode"      default="a" />

  <node name="convert_to_hdf5" pkg="convert_to_hdf5" type="convert_to_hdf5.py" respawn="false" output="screen" required="true">
    <param name="bag_file"  type="string" value="$(arg bag_file)"  />
    <param name="meta_file" type="string" value="$(arg meta_file)" />
    <param name="bag_file"  type="string" value="$(arg bag_file)"  />
    <param name="mode"      type="string" value="$(arg mode)"      />
  </node>

</launch>
