<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>
  <arg name="bag_file"/>
  <arg name="out_dir"/>
  <node name="convert_to_hdf5" pkg="convert_to_hdf5" type="convert_to_hdf5.py" respawn="false" output="screen" required="true">
    <param name="bag_file" type="string" value="$(arg bag_file)"/>
    <param name="out_dir" type="string" value="$(arg out_dir)"/>
  </node>
</launch>
