<?xml version="1.0"?>
<launch>
  <include file="$(find convert_to_hdf5)/launch/convert_to_hdf5.launch">
   <arg name = "bag_file" value= "/home/gsuveer/catkin_ws/src/LilFloAssessmentPipeline/data/flo_recording_2020-03-25-17-53-11_2.bag"/>
   <arg name = "hdf5_file" value= "/home/gsuveer/catkin_ws/src/LilFloAssessmentPipeline/data/experiment1.hdf5"/>
   <arg name = "mode" value= "w"/>
   <arg name = "experiment_metadata" value= "Experiment_1" />
  </include>
</launch>
