---
name: Lint Python

on:
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  lint-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
        with:
          path: LilFloAssessmentPipeline

      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-pip-pylint
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup Pylint
        run: |
          python -m pip install --upgrade pip
          echo "/home/runner/.local/bin" >> $GITHUB_PATH
          python -m pip install "pylint<2.0.0"

      - name: Lint with pylint
        run: |
          cd $GITHUB_WORKSPACE/LilFloAssessmentPipeline
          git ls-files | grep 'py$' | xargs pylint --unsafe-load-any-extension=y --disable=fixme

  python-todos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
        with:
          path: LilFloAssessmentPipeline

      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-pip-pylint
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Setup Pylint
        run: |
          python -m pip install --upgrade pip
          echo "/home/runner/.local/bin" >> $GITHUB_PATH
          python -m pip install "pylint<2.0.0"

      - name: Find TODOs
        run: |-
          cd $GITHUB_WORKSPACE/LilFloAssessmentPipeline
          git ls-files | grep 'py$' | xargs pylint --disable=all --enable=fixme
